{% extends 'base.html' %}

{% block content %}
<section class="page-content">
	<br>
        <h1>Регистрация</h1>
        <hr>
		<form action="." method="post" style="padding-left: 20px">
			{% if form.non_field_errors %}
				<div>{{ form.non_field_errors }}</div>
			{% endif %}
			{% for field in form %}
				<div>
					{{ field.errors }}
					<p>{{ field.label_tag }} <br>
					{{ field }}</p>
				</div>
			{% endfor %}
			<p><input type="submit" class="btn btn-primary" value="Зарегистрироваться"></p>
			{% csrf_token %}
		</form>
	<br>
</section>
{% endblock content %}